.fabric-editor-popup-scroll-parent {
    max-height: calc(100vh - 80px);
}

[data-node-type="tag"] {
    background-color: blue;
    color: white;
    padding: 3px;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 5px;
}